<h1 class="title">Carbon Tax Now</h1>
<p class="subheading">One Signature at a Time</p>
<div class=navbar>
    <a href="/about_us/" class="navlink navlink1"> </a>
    <a href="/signatures/" class="navlink navlink2"> </a>
    <a href="/contact_us/" class="navlink navlink3"> </a>
    <a href="https://teespring.com/stores/carbon-tax-now?scrlybrkr=f17f3dec" target=”_blank” class="navlink navlink4"> </a>
</div>